.container__room-list {
  padding: 0 20px;
}

.room-list__row {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}

.room__card {
  flex-basis: 19%;
  color: #aaa;
  border: 1px solid #25384d;

}

.card__info {
  padding: 20px;
}

.room__card:hover {
  color: #e8e9f3;
  border: 2px solid #e8e9f3;
  background-color: #25384d;

}

.card__img {
  width: 100%;
}



@media (min-width: 700px) {
  .room-list__row {
    display: flex;
    flex-direction: row;
  }

  .container__room-list {
    padding: 0;

  }
}
